<h1>Preis von <%= @price.group.name %> bearbeiten</h1>
<%= form_tag price_path, method: :put do %>
	<%= hidden_field_tag "price_id", @price.id %>
	<%= label_tag "", "Gruppe" %>
	<%= @price.group.name %>
	<br /><br />
	<%= label_tag "price_per_lesson", "Preis pro Stunde" %><br />
	<%= number_field_tag "price_per_lesson", @price.price_per_lesson, :step => 1, :min => 1 %><br /><br />
	<%= label_tag "discount_per_lesson", "Zuschuss pro Stunde" %><br />
	<%= number_field_tag "discount_per_lesson", @price.discount_per_lesson, :step => 1, :min => 0 %><br /><br />
	<%= submit_tag "Bearbeiten" %>
<% end %>