<h1>Trainingsplan</h1>
<ul id="draggable_group_list">
	<h3>Gruppen</h3>
	<% @groups.each do |group| %>
		<li style="background:<%= group.color_code %>" data-group="<%= group.id %>"><%= group.name %></li>
	<% end %>
</ul>
<table id="droppable_trainingsplan_table">
	<thead>
		<tr>
			<th>Zeit</th>
			<th>Montag</th>
			<th>Dienstag</th>
			<th>Mittwoch</th>
			<th>Donnerstag</th>
			<th>Freitag</th>
			<th>Samstag</th>
		</tr>
	</thead>
	<tbody>
		<% 7.times do |k| %>
			<tr>
			<% start_hour = 13 %>
				<td class="time_cell"><%= (start_hour+k).to_s + " - " + (start_hour+k+1).to_s %></td>
				<% 6.times do |i| %>
					<% start_time = Time.new(2015,1,1,k+start_hour,00,00) %>
					<% end_time = Time.new(2015,1,1,k+start_hour+1,00,00) %>
					<% if Trainingsplan.where(:wday => i+1, :start_time => start_time, :end_time => end_time).count > 0 %>
						<% training_group = Trainingsplan.where(:wday => i+1, :start_time => start_time, :end_time => end_time).first %>
						<td data-group="<%= training_group.group_id %>" data-wday="<%= i + 1 %>" data-start="<%= k+start_hour %>" data-end="<%= k+start_hour+1 %>" class="droppable_trainingsplan_table_cell">
							<li style="background:<%= training_group.group.color_code %>;" class="dropped_group_list_li"><%= training_group.group.name %></li>
						</td>
					<% else %>
						<td data-group="-1" data-wday="<%= i + 1 %>" data-start="<%= k+start_hour %>" data-end="<%= k+start_hour+1 %>" class="droppable_trainingsplan_table_cell"></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<p style="clear:both;margin-left:370px;">
	<input style="margin-right:30px;" type="submit" value="Zurücksetzen" onclick="resetTrainingsPlan();" /> <input type="submit" value="Speichern" onclick="saveTrainingsPlan();" />
</p>
<div id="information_box">Zum Entfernen klicken</div>