<h1>Login</h1>
<%= form_tag login_path, method: :post do %>
	<%= label_tag "mail_address", "Mailadresse" %><br />
	<%= text_field_tag "mail_address" %><br /><br />
	<%= label_tag "password", "Passwort" %><br />
	<%= password_field_tag "password" %><br /><br />
	<%= submit_tag "Login" %>
<% end %>
<p>
	<%= link_to "Registrieren", register_path %>
</p>