<h1><%= @user.name %></h1>
<ul>
	<li>Vorname: <%= @user.first_name %></li>
	<li>Nachname: <%= @user.last_name %></li>
	<li>E-Mail: <%= @user.mail_address %></li>
	<li>Administrator: <%= @user.admin_permissions ? "Ja" : "Nein" %></li>
	<li>Trainer: <%= @user.trainer.nil? ? "Nein" : "Ja" %></li>
	<% if !@user.trainer.nil? %>
		<li>Anzahl der zu trainierenden Gruppen: <%= @user.trainer.groups.count %></li>
		<ul class="counting_ul">
			<% @user.trainer.groups.each do |group| %>
				<li>
					<%= link_to group.name, group_with_acc_period_path(group.id,group.accounting_group.actual_acc_period.id) %> <%= "(" + group.groupclassifications.count.to_s + " Spieler)" %>
					<% if group.price %>
						(Lohn: <%= group.price.price_per_lesson %> € / h)
					<% else %>
						(Lohn nicht bekannt)
					<% end %>
				</li>
			<% end %>
		</ul>
	<% end %>
</ul>
<% if @current_user.id == @user.id %>
	<p>
		<%= link_to "Mein Profil bearbeiten", edit_user_path(@current_user.id) %>
	</p>
<% end %>
<% if @user.trainer %>
<p>
<h2 class="bigger_h2_heading">Kontoverbindung</h2>
<% if @user.account_information %>
	<ul>
		<li><b>Inhaber:</b> <%= @user.name %></li>
		<li><b>Kontonummer:</b> <%= @user.account_information.account_number.to_s %></li>
		<li><b>Bankleitzahl:</b> <%= @user.account_information.bank_code.to_s %></li>
		<li><b>IBAN:</b> <%= @user.account_information.iban.to_s %></li>
		<li><b>BIC:</b> <%= @user.account_information.bic.to_s %></li>
		<li><b>Kreditinstitut:</b> <%= @user.account_information.credit_institution.to_s %></li>
	</ul>
	<br />
	<%= link_to "Kontoverbindung bearbeiten", edit_account_information_path(@user.account_information.id) %><br />
	<%= link_to "Kontoverbindung löschen", account_information_path(@user.account_information.id), method: :delete, data: { confirm: "Wirklich löschen?" } %>
<% else %>
	<p>Keine Kontoverbindung vorhanden.</p>
	<p>
		<h2>Neue Kontoverbindung erstellen</h2>
		<br />
		<%= form_tag account_information_index_path, method: :post do %>
			<%= hidden_field_tag "user_id", @user.id %>
			<%= label_tag "account_number", "Kontonummer" %><br />
			<%= text_field_tag "account_number" %><br /><br />
			<%= label_tag "bank_code", "Bankleitzahl" %><br />
			<%= text_field_tag "bank_code" %><br /><br />
			<%= label_tag "iban", "IBAN" %><br />
			<%= text_field_tag "iban" %><br /><br />
			<%= label_tag "bic", "BIC" %><br />
			<%= text_field_tag "bic" %><br /><br />
			<%= label_tag "credit_institution", "Kreditinstitut" %><br />
			<%= text_field_tag "credit_institution" %><br /><br />
			<%= submit_tag "Speichern" %>
		<% end %>
	</p>
<% end %>
</p>
<% total_balance_lessons = 0.0 %>
<% total_balance_customer_costs = 0.0 %>
<% total_balance_club_costs = 0.0 %>
<% total_balance_trainer_costs = 0.0 %>
<h2 class="bigger_h2_heading">Rechnungen</h2>
	<% AccountingGroup.all.each_with_index do |accountingGroup,accGroupIndex| %>
		<h2>Abrechnungszeiträume</h2>
		<ul class="counting_ul">
			<% accountingGroup.accounting_periods.each do |acc_period| %>
				<li>
					<%= acc_period.start_date.strftime("%d.%m.%Y") %> - <%= acc_period.end_date.strftime("%d.%m.%Y") %>
					<% if accountingGroup.accounting_periods.find_by_id(params[:acc_period_id]) %>
						<% if accountingGroup.accounting_periods.find_by_id(params[:acc_period_id]).id == acc_period.id %>
							- (wird gerade angezeigt)
						<% else %>
							- <%= link_to "Anzeigen", user_with_acc_period_path(@user.id,acc_period.id) %>
						<% end %>
					<% else %>
						<% if accountingGroup.actual_acc_period.id == acc_period.id %>
							- (wird gerade angezeigt)
						<% else %>
							- <%= link_to "Anzeigen", user_with_acc_period_path(@user.id,acc_period.id) %>
						<% end %>
					<% end %>
				</li>
			<% end %>
		</ul>
		<div class="bill" id="bill_<%= accGroupIndex.to_s %>">
			<% overall_given_group_lessons = 0.0 %>
			<% overall_customer_costs = 0.0 %>
			<% overall_club_costs = 0.0 %>
			<% overall_trainer_costs = 0.0 %>
			<br />
			<h2>Rechnung - <%= accountingGroup.name %></h2>
			<h2>
				Abrechnungszeitraum vom
				<% if accountingGroup.accounting_periods.find_by_id(params[:acc_period_id]) %>
					<%= accountingGroup.accounting_periods.find_by_id(params[:acc_period_id]).start_date.strftime("%d.%m.%Y bis ") + accountingGroup.accounting_periods.find_by_id(params[:acc_period_id]).end_date.strftime("%d.%m.%Y") %>
				<% else %>
					<%= accountingGroup.actual_acc_period.start_date.strftime("%d.%m.%Y bis ") +  accountingGroup.actual_acc_period.end_date.strftime("%d.%m.%Y") %> 
				<% end %>
			</h2>
			<div class="scroll_vertical_enable">
				<% @groups.where(:accounting_group_id => accountingGroup.id).order(:name).each do |group| %>
					<% if group.price %>
						<% @price_per_lesson = group.price.price_per_lesson %>
						<% @discount_per_lesson = group.price.discount_per_lesson %>
					<% end %>
					<table class="trainings_table">
						<thead>
							<tr>
								<th style="font-size:20px;" colspan="<%= (2 + group.groupclassifications.count).to_s %>"><%= group.name %></th>
							</tr>
							<tr>
								<th>Datum</th>
								<th>Stunden</th>
								<% customer_total_lessons = [] %>
								<% customer_total_costs = [] %>
								<% group.groupclassifications.each do |groupclass| %>
									<th><%= groupclass.customer.name %></th>
									<% customer_total_lessons << 0.0 %>
									<% customer_total_costs << 0.0 %>
								<% end %>
								<th>Preis / anw. Spieler</th>
							</tr>
						</thead>
						<tbody>
							<% total_lessons = 0.0 %>
							<% if group.groupclassifications.count > 0 %>
								<% if !accountingGroup.accounting_periods.find_by_id(params[:acc_period_id]) %>
									<% old_acc_period_params = params[:acc_period_id] %>
									<% params[:acc_period_id] = accountingGroup.actual_acc_period.id %>
								<% end %>
								<% Training.where("training_start >= ? AND training_end <= ?",group.accounting_group.accounting_periods.find_by_id(params[:acc_period_id]).start_date.to_datetime, group.accounting_group.accounting_periods.find_by_id(params[:acc_period_id]).end_date.to_datetime).where(:groupclassification_id => group.groupclassifications.first.id).order(:training_start).each do |training_time| %>
									<% params[:acc_period_id] = old_acc_period_params %>
									<tr>
										<td>
											<%= training_time.training_start.strftime("%d.%m.%Y") %><br />
											<%= training_time.training_start.strftime("%H:%M") + " - " + training_time.training_end.strftime("%H:%M") %>
										</td>
										<td>
											<%= ((training_time.training_end - training_time.training_start)/3600).to_s + " h" %>
											<% total_lessons += (training_time.training_end - training_time.training_start)/3600 %>
										</td>
										<% participated_players = 0 %>
										<% Training.where(:training_start => training_time.training_start, :training_end => training_time.training_end).each do |training| %>
											<% i = 0 %>
											<% group.groupclassifications.each do |groupclass| %>
												<% if training.groupclassification.group.id == group.id && training.groupclassification.customer.id == groupclass.customer.id %>
													<% if training.participated %>
														<td class="was_participated_cell">anwesend</td>
														<% customer_total_lessons[i] += (training_time.training_end - training_time.training_start)/3600 %>
														<% participated_players += 1 %>
													<% else %>
														<td class="was_not_participated_cell">abwesend</td>
													<% end %>
												<% end %>
												<% i += 1 %>
											<% end %>
										<% end %>
										<% if group.price %>
											<% i = 0 %>
											<% Training.where(:training_start => training_time.training_start, :training_end => training_time.training_end).each do |training| %>
												<% group.groupclassifications.each do |groupclass| %>
													<% if training.groupclassification.group.id == group.id && training.groupclassification.customer.id == groupclass.customer.id %>
														<% if training.participated %>
															<% customer_total_costs[i] += ((((training_time.training_end - training_time.training_start)/3600).to_f * ((@price_per_lesson - @discount_per_lesson).to_f/ participated_players.to_f)).to_f).round(2) %>
														<% end %>
														<% i += 1 %>
													<% end %>
												<% end %>
											<% end %>
										<% end %>
										<td>
											<% if group.for_free %>
												0 €
											<% else %>
												<% if group.price %>
													<%= (((training_time.training_end - training_time.training_start)/3600).to_f).to_s + " h * (" + ((@price_per_lesson - @discount_per_lesson).to_f).to_s + " € / " + participated_players.to_s + ")" %><br /><%= " = " +((((training_time.training_end - training_time.training_start)/3600).to_f * ((@price_per_lesson - @discount_per_lesson).to_f/ participated_players.to_f)).to_f).round(2).to_s + " €" %>
												<% else %>
													Preis nicht bekannt
												<% end %>
											<% end %>
										</td>
									</tr>
								<% end %>
							<% end %>
							<tr>
								<td><b>Stunden<br /> insgesamt</b></td>
								<td><%= total_lessons.to_s + " h" %></td>
								<% group.groupclassifications.each_with_index do |groupclass,i| %>
									<td><%= customer_total_lessons[i].to_s + " h" %></td>
								<% end %>
							</tr>
						</tbody>
						<% if group.price %>
							<tfoot>
								<tr>
									<td>
										<b>Preise</b>
									</td>
									<td><%= @price_per_lesson.to_s + " € / h" %></td>
									<td style="text-align:center;" colspan="<%= group.groupclassifications.count %>">
										<% if group.for_free %>
											Kostenlos für Spieler
										<% else %>
											<%= "((" + @price_per_lesson.to_s + " € - " + @discount_per_lesson.to_s + " €) / anwesend Spieler) pro Stunde" %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td>
										<b>Rechnungsbetrag</b>
									</td>
									<td>
										<% overall_given_group_lessons += total_lessons %>
										<% overall_club_costs += (total_lessons * @discount_per_lesson).round(1) %>
										<% overall_customer_costs += customer_total_costs.sum.round(1) %>
										<% overall_trainer_costs += total_lessons * @price_per_lesson %>
										<%= (total_lessons * @price_per_lesson).to_s + " €" %>
									</td>
									<% group.groupclassifications.each_with_index do |groupclass,i| %>
										<td>
											<% if group.for_free %>
												0 €
											<% else %>
												<%= customer_total_costs[i].to_s + " €" %>
											<% end %>
										</td>
									<% end %>
									<td>
										<b>Kontrolle:</b><br />
										<% if group.for_free %>
											Spieler: 0 € <br />
											Verein: <%= (total_lessons * @price_per_lesson).round(1).to_s + " €" %><br />
										<% else %>
											Spieler: <%= (customer_total_costs.sum).round(1).to_s + " €" %><br />
											Verein: <%= (total_lessons * @discount_per_lesson).round(1).to_s + " €" %><br />
										<% end %>
										Summe: <%= (customer_total_costs.sum + (total_lessons * @discount_per_lesson)).round(1).to_s + " €" %>
									</td>
								</tr>
							</tfoot>
						<% else %>
							<tfoot>
								<tr>
									<td style="text-align: center; font-weight: bold;" colspan="<%= (3 + group.groupclassifications.count).to_s %>">
										Keine Gesamtrechnung möglich, da kein Preis bekannt ist
									</td>
								</tr>
							</tfoot>
						<% end %>
					</table>
				<% end %>
				<% if accountingGroup.name == "Vereinstraining" %>
					<% total_lessons = 0.0 %>
					<% total_trainer_costs = 0.0 %>
					<% total_club_costs = 0.0 %>
					<% total_customer_costs = 0.0 %>
					<table>
						<thead>
							<tr>
								<th style="font-size:20px;" colspan="4">Zusatztraining</th>
							</tr>
							<tr>
								<th>Datum</th>
								<th>Stunden</th>
								<th>Preis / h</th>
								<th>Zuschuss / h</th>
								<th>Spieler</th>
								<th>Preis</th>
								<th>Preis / anw. Spieler</th>
							</tr>
						</thead>
						<tbody>
							<% @additional_trainings_ids.each do |at_id| %>
								<% additional_training = AdditionalTraining.where(:training_id => at_id).first %>
								<tr>
									<td>
										<%= additional_training.training_start.strftime("%d.%m.%Y") %><br />
										<%= additional_training.training_start.strftime("%H:%M") + " - " + additional_training.training_end.strftime("%H:%M") %>
									</td>
									<td>
										<% total_lessons += (additional_training.training_end - additional_training.training_start)/3600 %>
										<% total_trainer_costs += ((additional_training.training_end - additional_training.training_start)/3600) * additional_training.price_per_hour %>
										<% total_club_costs += ((additional_training.training_end - additional_training.training_start)/3600) * additional_training.discount_per_hour %>
										<% total_customer_costs = total_trainer_costs - total_club_costs %>
										<%= ((additional_training.training_end - additional_training.training_start)/3600).to_s + " h" %>
									</td>
									<td>
										<%= additional_training.price_per_hour.to_s + " €" %>
									</td>
									<td>
										<%= additional_training.discount_per_hour.to_s + " €" %>
									</td>
									<td>
										<% AdditionalTraining.where(:training_id => at_id).each do |at| %>
											<%= at.customer.name %><br />
										<% end %>
									</td>
									<td><%=  ((additional_training.training_end - additional_training.training_start)/3600).to_s + " * " + additional_training.price_per_hour.to_s + " € = " + (((additional_training.training_end - additional_training.training_start)/3600) * additional_training.price_per_hour).to_s + " €" %></td>
									<td>
										<%=  ((additional_training.training_end - additional_training.training_start)/3600).to_s + " * (" + (additional_training.price_per_hour - additional_training.discount_per_hour).to_s + " € / " + AdditionalTraining.where(:training_id => at_id).count.to_s + ") = " + (((((additional_training.training_end - additional_training.training_start)/3600) * additional_training.price_per_hour) - (((additional_training.training_end - additional_training.training_start)/3600) * additional_training.discount_per_hour)) / AdditionalTraining.where(:training_id => additional_training.training_id).count).to_s + " €" %>
									</td>
								</tr>
							<% end %>
						</tbody>
						<tfoot>
							<tr>
								<td><b>Rechnungsbetrag</b></td>
								<td><%= total_lessons.to_s + " h" %></td>
								<td colspan="3">Bei jeder einzelnen Einheit flexibel (siehe "Preis / anw. Spieler")</td>
								<td><%= total_trainer_costs.to_s + " €" %> </td>
								<td>
									<b>Kontrolle:</b><br />
									Spieler: <%= total_customer_costs.to_s + " €" %><br />
									Verein: <%= total_club_costs.to_s + " €" %><br />
									Summe: <%= (total_customer_costs + total_club_costs).to_s + " €" %>
								</td>
							</tr>
						</tfoot>
					</table>
					<% overall_given_group_lessons += total_lessons %>
					<% overall_club_costs += total_club_costs %>
					<% overall_customer_costs += total_customer_costs %>
					<% overall_trainer_costs += total_trainer_costs %>
				<% end %>
			</div>
			<% total_balance_lessons += overall_given_group_lessons %>
			<% total_balance_customer_costs += overall_customer_costs %>
			<% total_balance_club_costs += overall_club_costs %>
			<% total_balance_trainer_costs += overall_trainer_costs %>
			<h3>Gesamtrechnung</h3>
			<table>
				<tr>
					<td><b>Stundenanzahl</b></td>
					<td><%= overall_given_group_lessons.to_s + " h" %></td>
				</tr>
				<tr>
					<td><b>Spieler</b></td>
					<td><%= overall_customer_costs.to_s + " €" %></td>
				</tr>
				<tr>
					<td><b>Verein</b></td>
					<td><%= overall_club_costs.to_s + " €" %></td>
				</tr>
				<tr>
					<td><b>Gesamt</b></td>
					<td><%= overall_trainer_costs.to_s + " €" %></td>
				</tr>
			</table>
			<p>
				<h3>Kontoverbindung</h2>
				<% if @user.account_information %>
					<ul>
						<li><b>Empfänger:</b> <%= @user.name %></li>
						<li><b>Kontonummer:</b> <%= @user.account_information.account_number.to_s %></li>
						<li><b>Bankleitzahl:</b> <%= @user.account_information.bank_code.to_s %></li>
						<li><b>IBAN:</b> <%= @user.account_information.iban.to_s %></li>
						<li><b>BIC:</b> <%= @user.account_information.bic.to_s %></li>
						<li><b>Kreditinstitut:</b> <%= @user.account_information.credit_institution.to_s %></li>
					</ul>
				<% else %>
					Keine 
				<% end %>
			</p>
			<p>
				<input type="submit" value="Rechnung drucken" onclick="printBill('bill_<%= accGroupIndex.to_s %>');" />
			</p>
		</div>
		<br /><br />
	<% end %>
<% end %>
<h2>Geamtbilanz für Trainer</h2>
<table>
	<tr>
		<td><b>Stundenanzahl</b></td>
		<td><%= total_balance_lessons.to_s + " h" %></td>
	</tr>
	<tr>
		<td><b>Spieler</b></td>
		<td><%= total_balance_customer_costs.to_s + " €" %></td>
	</tr>
	<tr>
		<td><b>Verein</b></td>
		<td><%= total_balance_club_costs.to_s + " €" %></td>
	</tr>
	<tr>
		<td><b>Gesamt</b></td>
		<td><%= total_balance_trainer_costs.to_s + " €" %></td>
	</tr>
</table>