<h1>"<%= @group.name %>" bearbeiten</h1>
<%= form_tag group_path, method: :put do %>
	<%= hidden_field_tag "group_id", @group.id %>
	<%= label_tag "name", "Bezeichnung" %><br />
	<%= text_field_tag "name", @group.name %><br /><br />
	<%= label_tag "trainer_id", "Trainer" %>
	<select name="trainer_id">
		<% Trainer.all.each do |trainer| %>
			<% if trainer.id == @group.trainer_id %>
				<option value="<%= trainer.id %>" selected="selected"><%= trainer.user.name %></option>
			<% else %>
				<option value="<%= trainer.id %>"><%= trainer.user.name %></option>
			<% end %>
		<% end %>
	</select><br /><br />
	<% if @group.for_free %>
		<%= label_tag "for_free", "Kostenlos für Spieler" %>
		<%= check_box_tag "for_free", 1,true %>
	<% else %>
		<%= label_tag "for_free", "Kostenlos für Spieler" %>
		<%= check_box_tag "for_free" %>
	<% end %>
	<br /><br />
	<%= label_tag "color_code" %>
	<%= color_field_tag "color_code", @group.color_code %>
	<br /><br />
	<%= submit_tag "Bearbeiten" %>
<% end %>