<h1><%= @group.name %></h1>
<ul>
	<li>Bezeichnung: <%= @group.name %></li>
	<li>Abrechnungsgruppe: <%= @group.accounting_group.name %></li>
	<li>Kennfarbe: <span style="background:<%= @group.color_code %>;padding:3px 6px;"><%= @group.color_code %></span></li>
	<li>Trainer: <%= @group.trainer.user.name %></li>
	<% if @group.price %>
		<li>Trainerkosten: <%= @group.price.price_per_lesson %> € / h</li>
		<li>Vereinszuschuss: <%= @group.price.discount_per_lesson %> € / h</li>
		<li>Gesamtkosten Spieler: <%= ((@group.price.price_per_lesson - @group.price.discount_per_lesson).to_f).to_s %> € / h</li>
		<li>Kosten pro Spieler: <%= ((@group.price.price_per_lesson - @group.price.discount_per_lesson).to_f / @group.groupclassifications.count.to_f).to_s %> € / h (wenn alle anwesend)</li>
	<% else %>
		<li>Kosten: Für diese Gruppe wurde noch kein Preis eingetragen. <%= link_to "Hier Preis eintragen", new_price_path %></li>
	<% end %>
	<h3>Trainingszeiten</h3>
	<ul>
	<% @group.trainingsplans.each do |trainings_time| %>
		<li><%= @wdays[trainings_time.wday] + " - " + trainings_time.start_time.strftime("%H:%M") + " bis " + trainings_time.end_time.strftime("%H:%M Uhr") %></li>
	<% end %>
	</ul>
	<h3>Spieler</h3>
	<% if @group.groupclassifications.count > 0 %>
		<ul class="counting_ul">
			<% @group.groupclassifications.each do |groupclass| %>
				<li><%= link_to groupclass.customer.name, customer_path(groupclass.customer.id) %> - <%= link_to "Aus Gruppe entfernen", groupclassification_path(groupclass.id), method: :delete, data: { confirm: "Wirklich löschen?" }  %></li>
			<% end %>
		</ul>
	<% else %>
		keine
	<% end %>
</ul>
<h3>Training gegeben</h3>
<div class="scroll_vertical_enable">
	<table id="trainings_table">
		<thead>
			<tr>
				<th style="font-size:20px;" colspan="<%= (3 + @group.groupclassifications.count).to_s %>"><%= @group.name + " - " + @group.accounting_group.name %></th>
			</tr>
			<tr>
				<th>Datum</th>
				<th>Stunden</th>
				<% customer_total_lessons = [] %>
				<% customer_total_costs = [] %>
				<% @group.groupclassifications.each do |groupclass| %>
					<th><%= groupclass.customer.name %></th>
					<% customer_total_lessons << 0.0 %>
					<% customer_total_costs << 0.0 %>
				<% end %>
				<th>Preis / anw. Spieler</th>
				<th>Aktionen</th>
			</tr>
		</thead>
		<tbody>
			<% total_lessons = 0.0 %>
			<% if @group.groupclassifications.count > 0 %>
				<% Training.where(:groupclassification_id => @group.groupclassifications.first.id).order(:training_start).each do |training_time| %>
					<tr>
						<td>
							<%= training_time.training_start.strftime("%d.%m.%Y") %><br />
							<%= training_time.training_start.strftime("%H:%M") + " - " + training_time.training_end.strftime("%H:%M") %>
						</td>
						<td>
							<%= ((training_time.training_end - training_time.training_start)/3600).to_s + " h" %>
							<% total_lessons += (training_time.training_end - training_time.training_start)/3600 %>
						</td>
						<% participated_players = 0 %>
						<% Training.where(:training_start => training_time.training_start, :training_end => training_time.training_end).each do |training| %>
							<% i = 0 %>
							<% @group.groupclassifications.each do |groupclass| %>
								<% if training.groupclassification.group.id == @group.id && training.groupclassification.customer.id == groupclass.customer.id %>
									<% if training.participated %>
										<td class="was_participated_cell">anwesend</td>
										<% customer_total_lessons[i] += (training_time.training_end - training_time.training_start)/3600 %>
										<% participated_players += 1 %>
									<% else %>
										<td class="was_not_participated_cell">abwesend</td>
									<% end %>
								<% end %>
								<% i += 1 %>
							<% end %>
						<% end %>
						<% if @group.price %>
							<% i = 0 %>
							<% Training.where(:training_start => training_time.training_start, :training_end => training_time.training_end).each do |training| %>
								<% @group.groupclassifications.each do |groupclass| %>
									<% if training.groupclassification.group.id == @group.id && training.groupclassification.customer.id == groupclass.customer.id %>
										<% if training.participated %>
											<% customer_total_costs[i] += ((((training_time.training_end - training_time.training_start)/3600).to_f * ((@price_per_lesson - @discount_per_lesson).to_f/ participated_players.to_f)).to_f).round(2) %>
										<% end %>
										<% i += 1 %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
						<td>
							<% if @group.for_free %>
								0 €
							<% else %>
								<% if @group.price %>
									<%= (((training_time.training_end - training_time.training_start)/3600).to_f).to_s + " h * (" + ((@price_per_lesson - @discount_per_lesson).to_f).to_s + " € / " + participated_players.to_s + ")" %><br /><%= " = " +((((training_time.training_end - training_time.training_start)/3600).to_f * ((@price_per_lesson - @discount_per_lesson).to_f/ participated_players.to_f)).to_f).round(2).to_s + " €" %>
								<% else %>
									Preis nicht bekannt
								<% end %>
							<% end %>
						</td>
						<td>
							<%= link_to "Training löschen", destroy_whole_training_path(training_time.training_start,training_time.training_end,@group.id), data: { confirm: "Wirklich löschen?" } %>
						</td>
					</tr>
				<% end %>
			<% end %>
			<tr>
				<td><b>Stunden<br /> insgesamt</b></td>
				<td><%= total_lessons.to_s + " h" %></td>
				<% @group.groupclassifications.each_with_index do |groupclass,i| %>
					<td><%= customer_total_lessons[i].to_s + " h" %></td>
				<% end %>
			</tr>
		</tbody>
		<% if @group.price %>
			<tfoot>
				<tr>
					<td>
						<b>Preise</b>
					</td>
					<td><%= @price_per_lesson.to_s + " € / h" %></td>
					<td style="text-align:center;" colspan="<%= @group.groupclassifications.count %>">
						<% if @group.for_free %>
							Kostenlos für Spieler
						<% else %>
							<%= "((" + @price_per_lesson.to_s + " € - " + @discount_per_lesson.to_s + " €) / anwesend Spieler) pro Stunde" %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>
						<b>Rechnungsbetrag</b>
					</td>
					<td>
						<%= (total_lessons * @price_per_lesson).to_s + " €" %>
					</td>
					<% @group.groupclassifications.each_with_index do |groupclass,i| %>
						<td>
							<% if @group.for_free %>
								0 €
							<% else %>
								<%= customer_total_costs[i].to_s + " €" %>
							<% end %>
						</td>
					<% end %>
					<td>
						<b>Kontrolle:</b><br />
						<% if @group.for_free %>
							Spieler: 0 € <br />
							Verein: <%= (total_lessons * @price_per_lesson).round(1).to_s + " €" %><br />
						<% else %>
							Spieler: <%= (customer_total_costs.sum).round(1).to_s + " €" %><br />
							Verein: <%= (total_lessons * @discount_per_lesson).round(1).to_s + " €" %><br />
						<% end %>
						Summe: <%= (customer_total_costs.sum + (total_lessons * @discount_per_lesson)).round(1).to_s + " €" %>
					</td>
				</tr>
			</tfoot>
		<% else %>
			<tfoot>
				<tr>
					<td style="text-align: center; font-weight: bold;" colspan="<%= (3 + @group.groupclassifications.count).to_s %>">
						Keine Gesamtrechnung möglich, da kein Preis bekannt ist
					</td>
				</tr>
			</tfoot>
		<% end %>
	</table>
</div>
<input type="submit" value="Tabelle drucken" onclick="printTrainingTable();" />
<h3>Training eintragen</h3>
<%= form_tag training_index_path, method: :post do %>
	<%= hidden_field_tag "group_id", @group.id %>
	<fieldset>
		<legend>Trainingsdatum</legend>
		<% if !mobile_device? %>
			<%= label_tag "day", "Tag"%> <%= number_field_tag "day", Date.today.day,:in => 1..31, :step => 1 %>
			<%= label_tag "month", "Monat"%> <%= number_field_tag "month", Date.today.month,:in => 1..12, :step => 1 %>
			<%= label_tag "year", "Jahr"%> <%= number_field_tag "year", Date.today.year,:min => 2015, :step => 1 %>
		<% else %>
			<%= label_tag "day", "Tag"%> <%= number_field_tag "day", Date.today.day,:in => 1..31, :step => 1 %><br /><br />
			<%= label_tag "month", "Monat"%> <%= number_field_tag "month", Date.today.month,:in => 1..12, :step => 1 %><br /><br />
			<%= label_tag "year", "Jahr"%> <%= number_field_tag "year", Date.today.year,:min => 2015, :step => 1 %><br /><br />
		<% end %>
	</fieldset>
	<br />
	<fieldset>
		<legend>Trainingsdauer</legend>
		<% if !mobile_device? %>
			<%= label_tag "from_hour", "Von"%> <%= number_field_tag "from_hour", DateTime.now.hour,:in => 0..23, :step => 1 %> : <%= number_field_tag "from_min", DateTime.now.min,:in => 0..59, :step => 5 %> <%= label_tag "to_hour", "bis"%> <%= number_field_tag "to_hour", DateTime.now.hour + 1,:in => 0..23, :step => 1 %> : <%= number_field_tag "to_min", DateTime.now.min,:in => 0..59, :step => 5 %>
		<% else %>
			<%= label_tag "from_hour", "Beginn"%><br /> <%= number_field_tag "from_hour", DateTime.now.hour,:in => 0..23, :step => 1 %> : <%= number_field_tag "from_min", DateTime.now.min,:in => 0..59, :step => 5 %><br /><br /><%= label_tag "to_hour", "Ende"%><br /><%= number_field_tag "to_hour", DateTime.now.hour + 1,:in => 0..23, :step => 1 %> : <%= number_field_tag "to_min", DateTime.now.min,:in => 0..59, :step => 5 %>
		<% end %>
	</fieldset>
	<br />
	<table>
		<thead>
			<tr>
				<th>Spieler</th>
				<th>anwesend</th>
			</tr>
		</thead>
		<tbody>
			<% @group.groupclassifications.each do |groupclass| %>
				<tr>
					<td>
						<%= label_tag "customer[" + groupclass.customer.id.to_s + "]", groupclass.customer.name %>
					</td>
					<td>
						<%= check_box("customer", groupclass.customer.id.to_s) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br />
	<%= submit_tag "Eintragen" %>
<% end %>
<h3>Spieler zur Gruppe hinzufügen</h3>
<%= form_tag add_customer_to_group_path, method: :post do %>
	<%= hidden_field_tag "group_id", @group.id %>
	<%= label_tag "customer_id", "Spieler" %>
	<%= select_tag "customer_id", options_from_collection_for_select(Customer.all.order(:last_name,:first_name), "id", "name"), prompt: "Bitte auswählen" %>
	<br /><br />
	<%= submit_tag "Hinzufügen" %>
<% end %>