<!DOCTYPE html>
<html>
	<head>
	  <title>Trainerrechnungssystem</title>
	  <% if !mobile_device? %>
	  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <% else %>
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<%= stylesheet_link_tag 'mobile', media: 'all' %>
	  <% end %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta charset="ISO-8859-1">
	</head>
	<body>
		<% if !@current_user.nil? %>
		  <style type="text/css">
		  	@media screen and (max-width: 320px)
			{
			    #top_header{
			    	display: none;
			    }
			    #main_wrapper{
			    	margin-top: 10px;
			    }
			}
		  </style>
	  	<% end %>
		<%= render "shared/header" %>
		<%= render "shared/messages_bar" %>
		<section id="main_wrapper">
			<%= yield %>
		</section>
		<%= render "shared/footer" %>
	</body>
</html>
