<!DOCTYPE html>
<html>
	<head>
	  <title>Trainerrechnungssystem</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <script type="text/javascript" src="tableExport.js"></script>
	  <script type="text/javascript" src="jquery.base64.js"></script>
	  <script type="text/javascript" src="jspdf/libs/sprintf.js"></script>
	  <script type="text/javascript" src="jspdf/jspdf.js"></script>
	  <script type="text/javascript" src="jspdf/libs/base64.js"></script>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta charset="ISO-8859-1">
	</head>
	<body>
		<header id="top_header">
			<h1>Rechnungssystem</h1>
		</header>
		<section id="main_wrapper">
			<%= yield %>
		</section>
		<footer id="footer_menue">
			<ul>
				<% if !@current_user.nil? %>
					<% if @current_user.admin_permissions %>
						<li><%= link_to "Trainer", user_index_path %></li>
					<% else %>
						<li><%= link_to "Profil", user_path(@current_user.id) %></li>
					<% end %>
					<li><%= link_to "Spieler", customer_index_path %></li>
					<li><%= link_to "Preise", price_index_path %></li>
					<li><%= link_to "Gruppen", group_index_path %></li>
					<li><%= link_to "Logout", logout_path %></li>
				<% end %>
			</ul>
		</footer>
	</body>
</html>
